@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  /* font */
  --poppins: "Poppins", sans-serif;

  /* colors */
  --bg: #18191a;
  --card: #242526;
  --hover: #3a3b3c;
  --primary-text: #e4e6eb;
  --secondary-text: #b0b3b8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:after,
:before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  background: var(--bg);
  font-family: var(--poppins);
  color: var(--primary-text);
  font-weight: 400;
  font-size: 1rem;
}
